@import "~@schibstedspain/sui-theme/lib/index";

$size-s: 10px;
$size-m: 16px;
$size-l: 20px;

$corporate-color: pink;

$global-transition: 0.25s ease;

.sktest-ButtonButtoncard {
  display: block;
  margin: $size-s 0;
  background-color: $corporate-color;
  border-radius: 26px;
  outline: none;
  border: 0;
  padding: $size-m/2 $size-m;
  color: white;
  transition: background-color #{$global-transition};
  &:hover {
    cursor: pointer;
    background-color: darken($corporate-color, 10%);
  }
  &-secondary {
    background-color: rgb(233, 233, 180);
    &:hover {
      background-color: darken(rgb(233, 233, 180), 10%);
    }
  }
  &-m {
    padding: $size-l/2 $size-l;
  }
  &-s {
    padding: $size-s/2 $size-s;
  }
}
